<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<!--
    <include resource="com/google/cloud/spring/logging/logback-appender.xml" />
-->
    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />


	<!-- async config

		<appender name="ASYNC_STACKDRIVER" class="ch.qos.logback.classic.AsyncAppender">
			<appender-ref ref="STACKDRIVER" />
		</appender>
		<root level="INFO">
			<appender-ref ref="ASYNC_STACKDRIVER" />
		</root>-->



	<property name="STACKDRIVER_LOG_NAME" value="${STACKDRIVER_LOG_NAME:-spring.log}"/>
	<property name="STACKDRIVER_LOG_FLUSH_LEVEL" value="${STACKDRIVER_LOG_FLUSH_LEVEL:-WARN}"/>
	<!-- custom sync config -->
	<appender name="STACKDRIVER" class="com.google.cloud.spring.logging.LoggingAppender">
		<log>${STACKDRIVER_LOG_NAME}</log> <!-- Optional : default spring.log -->
		<loggingEventEnhancer>com.google.cloud.spring.logging.TraceIdLoggingEnhancer</loggingEventEnhancer>
		<flushLevel>${STACKDRIVER_LOG_FLUSH_LEVEL}</flushLevel> <!-- Optional : default ERROR -->

		<maxThreads>4</maxThreads>
	</appender>


	<!-- sync config -->

		<root level="INFO">
			<appender-ref ref="CONSOLE"/>
			<appender-ref ref="STACKDRIVER" />
		</root>


</configuration>
