name: Renovate Updates

on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

jobs:
  renovate:
    runs-on: ubuntu-latest
    steps:
      - name: Install Renovate
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
      - name: Run Renovate
        uses: renovatebot/forking-renovate@main
        with:
          baseBranches: main,3.x,4.x,5.x
          createPullRequests: true